################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/new/Code/Test/.vs/士力架/v15/Server/sqlite3/db.lock
/new/Code/Test/UI/log/log_localhost_20180515.log
/前端界面图
