<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--ErrorLog支持DB,file,Email,LogApi四种方式, enable为true则ErrorLog可用，false则不可用-->
  <ErrorLog appenders="file" enable="true" />
  <!--DebugLog支持DB,file,LogApi三种方式, enable为true则DebugLog可用，false则不可用-->
  <DebugLog appenders="file" enable="true" />
  <!--WarningLog支持DB,file,Email，LogApi四种方式, enable为true则WarningLog可用，false则不可用-->
  <WarningLog appenders="file" enable="true" />
  <!--InfoLog支持DB,file,LogApi三种方式, enable为true则InfoLog可用，false则不可用-->
  <InfoLog appenders="file" enable="true" />
  <!--PerformanceLog支持DB,file,LogApi三种方式, enable为true则PerformanceLog可用，false则不可用-->
  <PerformanceLog appenders="file" enable="true" />
  <!--AppId:应用Id-->
  <AppId value="1">
  </AppId>
  <!--Appenders 此节点下面的内容就是具体的日志附加器的参数设置-->
  <Appenders>
    <!--日志文本输出方式参数设置-->
    <appender name="File">
      <!--日志的生成的根目录-->
      <param name="directory" value="ESmartWaveLog" />
      <!--目录生成以天为单位来生成二级目录,也可以为空-->
      <param name="childDirectoryFormat" value="yyyy-MM-dd" />
      <!--是否按照loglevel的生成相应的日志文件夹,true即为生成相应log level命名的三级目录,true or false-->
      <param name="divideByType" value="true" />
      <!--日志txt文件以yyyyMMddHH为后缀,如果代码里面有filename的参数，文件名为filename_yyyyMMddHH, 否则为yyyyMMddHH-->
      <param name="fileNameFormat" value="yyyyMMdd" />
    </appender>
    <!--日志邮件输出方式参数设置-->
    <appender name="Email">
      <!--需自行修改-->
      <param name="subject" value="【Error】 YH001 项目异常邮件" />
      <param name="from" value="test@esmartwave.com" />
      <param name="fromName" value="wei.mou" />
      <param name="to" value="test@esmartwave.com" />
      <!--密送-->
      <param name="bcc" value="test@esmartwave.com" />
      <!--抄送-->
      <param name="cc" value="test@esmartwave.com" />
      <param name="smtpServer" value="smtp.exmail.qq.com" />
      <param name="user" value="report@iseedling.com" />
      <param name="password" value="yh9012309" />
      <param name="enableSsl" value="true" />
      <param name="sslPort" value="587" />
    </appender>
    <!--日志存DB方式参数设置-->
    <appender name="DB">
      <param name="connectionStrings" value="Server=;UID=;password=;database=" providerName="System.Data.SqlClient" />
      <param name="dbtype" value="SqlServer" />
    </appender>
    <!--中央日志中心参数设置-->
    <appender name="LogApi">
      <!--调用服务主机host-->
      <param name="host" value="http://localhost:21613/" />
      <!--服务密钥-->
      <param name="secretKey" value="c6af2d09c7eaddbc" />
    </appender>
  </Appenders>
</configuration>
<!--此文件是配置文件demo,请各位将此文件加入自己站点工程，并改成copy always,最后引用ESLog.dll-->